<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,400&display=swap");
    * {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}
.loan{
    height: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3f3f3f6c;
    color: #bb86fc;
    /* box-shadow: 0 0 20px rgba(97, 96, 96, 0.589); */
}
.loan-heading{
    text-align: center;
    width: 60%;
    /* border-bottom: white solid 2px; */
    
}
.loan-tagline{
    color: #bababa;
    
}
body{
    background-color: #121212;
}
.cont{
    width: 100%;
    margin-top: 100px;
    display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container{
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: cslc(100vh-100px);
        background-color: #3f3f3f6c;
        border-radius: 10px;
        padding: 50px;
        /* box-shadow: 0 0 10px rgba(136, 136, 136, 0.589); */
    /* backdrop-filter: blur(20px); */
}
.input-format{
    margin: 10px;
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px rgb(158, 158, 158);
}

.input-format:focus{
    border-bottom: solid 2px #bb86fc;
}

.button-bt{
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    /* background: rgb(200,255,171); */
    border: none;
    /* color:#2F4858; */
    transition: transform .2s;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: #bb86fc;
    border: solid 2px #3f3f3f;
    font-weight: bold;
}
.button-bt:hover{
    border: solid 2px #bb86fc;
    background: #3f3f3f6c;
    color: #bb86fc;
}
.container label{
    text-align: left;
    margin-bottom: 20px;
    color: #bb86fc;
    font-weight: bold;
}
textarea:focus, input:focus{
    outline: none;
}
.heading-login{
    font-size: larger;
}
input{
    color: #dedede;
}

</style>
<div class="loan">
    <h1 class="loan-heading">
        XYZLOAN
    </h1>
    <h2 class="loan-tagline">
        Get easy loans
    </h2>
</div>
<div class="cont">
    <form action = "" method = "get" class="container">
        <!-- <i class="fa-regular fa-user"></i> -->
        <label for="login" class="heading-login">Login to your account </label>
        <input class="input-format" id="your_PAN" type="text" name="your_PAN" placeholder="Enter pan number">
        <!-- <label for="your_password">Enter Your Password: </label> -->
        <input class="input-format" id="your_password" type="text" name="your_password" placeholder="Enter password">
        <input type="submit" value="OK" class="button-bt">
    </form>
</div>